body{
    color:white;
    background-color: blue;
    text-align: center;
}

header{
    background-color: skyblue;
    color: black;
    text-align: center;
    height: 50px;
    font-family: "Michroma", Georgia, serif;
  font-size: 4rem;
}